@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  position: relative;
}

:root {
    text-rendering: optimizeLegibility;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* @media (prefers-color-scheme: light) {
  *{
    background: #000 !important;
    color: #fff;
  }
} */

.disabled_row *{
  pointer-events: none;
  opacity: .7;
}

.filter-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all .6s linear;
}

.filter-wrapper.show {
  max-height: 1000px;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
}

/* == calender styles ==  */
.date_parent:hover .date_child:not(:hover){
  opacity: 1;
}